*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #ffe341;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.text {
    color: #212121;
    font-size: 2rem;
    letter-spacing: -0.2px;
    font-family: 'Courier New', Courier, monospace;
}